@import "tailwindcss";

@layer utilities {
  .nav__link {
    @apply relative text-base font-medium w-fit block 
    after:block after:content-[''] after:absolute after:h-[3px] 
    after:bg-pink-600 after:w-full after:scale-x-0 
    hover:after:scale-x-100 after:transition after:duration-300 
    after:origin-right;
  }
}
